*{
    padding: 0;
    margin: 0;

}
body{
    background: linear-gradient(#01012e , #224584);
    height: 100vh;
    font-family: serif;
}
section{
    background: url(stars1.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    text-align: center;
    list-style: none;
    margin: 15px;
}
ul:hover li a{
    opacity: 0;
}
ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
    background-color: #224584;
    padding: 6px 15px;
    border-radius: 30px;
    display: inline-block;
    margin: 15px;
    width: 150px;
    transition: .5s;
    text-transform: uppercase;
    position: relative;
    z-index: 100;

}
ul li a:hover{
    transform: scale(1.9);
    background-color: #1d3a6f;
    opacity: 1;
}

ul li:hover::after{
    opacity: .5;
    letter-spacing: 5px;
}
ul li::after{
    content: attr(data-text);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0;
    color: white;
    pointer-events: none;
    letter-spacing: 50px;
    transition: .5s;
}

ul li::before{
    content: "";
    width: 180px;
    height: 80px;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,80%);
    border-radius: 50%;
    box-shadow: 0 0 80px rgb(228, 172, 151);
    opacity: 0;
    transition: .9s;

}
ul li:hover::before{
    opacity: .9 ;
    width: 80px;
}