*{
    margin: 0;
    padding: 0;
    font-family: serif;
}

body{
background:linear-gradient(black,#464646);
height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
body:after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(233, 106, 106);
    position: absolute;
    clip-path: circle(30% at right 70%);
    z-index: -1;

}
.container{
    width: 80%;
    height: 80%;
    background: rgba(255,255, 255 ,0.1);
    border-radius: 20px;
    overflow: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
.logo{
    text-decoration: none;
    color: white;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}
nav ul li{
    display: inline-block;
    list-style: none;

}
nav ul li a{
    color: white;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: .5s;
}
nav ul li a:hover{
    text-decoration: underline;
    color: #464646;

}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
}
.content .text{
    color: white;
    width: 40%;
}
.content .text h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.content .text p{
    font-size: 18px;
    line-height: 25px;
    margin: 10px 0;
    letter-spacing: 1px;
}
.content .image{
    width: 40%;
}
.content .image img{
    width: 400px;
}

@media(min-width :950px ) and (max-width : 1150px){
.content .image img{
    width: 330px;
}
.content .text h2{
    font-size: 25px;
}
.content .text p{
    font-size: 15px;
}
}
@media (max-width : 950px){
.content,nav {
    flex-direction: column;
    justify-content: center; 
}
.content .image,.content .text{
    width: 70%;
}
body::after{
    clip-path: circle(50% at bottom);
}
.logo{
    padding: 5px;
}
.content .text h2{
    font-size: 25px;
}
.content .text p{
    font-size: 15px;
    margin: 0;
}

}



@media(max-width :575px){
    .content,nav {
        flex-direction: column;
        justify-content: center; 
    }
    .content .image,.content .text{
        width: 100%;
    }
    body::after{
        clip-path: circle(40% at bottom);
    }
    .logo{
        padding: 20px;
    }
    .content .text h2{
        font-size: 20px;
    }
    .content .text p{
        font-size: 10px;
    }
}