@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .open-manu {
         /* تطبيق اسم الحركة */
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
}

@keyframes open-menu {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@layer utilities {
    .animate-open-menu {
        animation-name: open-menu;
    }
}